language: scala
scala:
  - 2.12.6

jdk:
  - oraclejdk8
sudo: false
script:
  - sbt coverage tests/run coverageReport
branches:
  except:
  - "/^v\\d+\\.\\d+\\.\\d+$/"
after_success:
  - bash <(curl -s https://codecov.io/bash)

env:
  global:
  - secure: GAV6tv+fC5qP99uNDkhqnBoJLZZlQYziwQ5BO9IvG+izcjwCilE+QIY1Zqz//XY5ta1eNtx2fts6QzxcI/gHPddXM8kitFTxRh0iKe/iVl2tI42TQaSYUbDp7hUPLQpS+eHFmA9m56je6EPwYFbxXyDUfD56KIxUY3/syoobcMPWJoBhqWYsBAnCKFlWsjr35/+PHHZ9uYnQ57XUDtc5HdDSAjkngR1y4gTSAxZkfj91GH0TbW+DHJjmAv+vJGpIiJKM4X2qAge2Qcygq0zUmkkHYF7EpnnVeTLh9qF3d7b0KMgAuVDu1vC7SVugGHLk7HkM23oiDxIzlCldG1GWwrlLIKsUuyYNrx2a37ARDEdJX/zlM9pqHTYX150E7+ASA1A0bWKwSZ3pn8ZBI9Wr/Jz0tufz22DzjcsNbXG4O+ogQ8G/dkGck5vVSLtdkv24DJJEKwrs6rp/AfWV8gOOC6v9KXEalDWpNr4euiRr1MawmZEFbsYHalP2oF5rzyP3hZ+OTygqW+tKPc4/+2XpNbIq/scTaq8zBGznexmaF4aZczsz7Q+WWWlftzGLvTYIPgG00MAnPgVeKUR3nyIc43AjRty0VEN1fkMs4FtQd5e74soT7EoCYBZh6ZfRbPXcl9lQvHV8royJrKZ+evhQcSPxFQiN79GLtvTh0ayh+oU=
  - secure: R6FalAIbVarh10Y96xUZB7mCM3zZWQsiSXKJAH/2y5sKHoKbRxtIgcD9wBmI9epPdoo0ug2agXPNYONCbGcKwO0wTb8yL7ZhHa15qFyRkkFXKWg8cB6Rutu0fTMhIm/+BWwDXK9ZgjwxtjRIULZbcTMk+BEepurT/gNrYcTyVzdTuQCTDY6A2XMxVmixvV/2cY5pz25I6eNSZKmFhT6k5TZDx0VRqUzjeuMMkRZqwScqO0lt3BpuIhzc7x+T8lik3zeGygd4hjrRdUnKFd1ULYEpJe/3LRj8rjqq/xswGnVg7t5y4L4vOmItVlnVz6J26OLnN0qK/B1YTeHo7+o5CvwJsPl6dfJOpKEwYrUJSaS9DoXLb0FT73y+lIallqPjkP+ObKraI23UZFt+UnzQ1XC0JvfY5WCoOnm+sUgefFAT4yeW2quTk4xK4aKd17HYb2JnrbYf1ZzNk2TztZPx4wZYEaANw08JhERBAixk6Kg44RUUu6pHZtJ6gzsIUquSmnYKEgWK/GZswBtWZ52Lli5fyX5U8fhAUofYqlpb049EjpKHgRIxR7TSpExXOYSsbSb6HzFProBLlxN01IQT4s+8xwcA/QrGm/3uc7kJ/HE41EujNs+MjT60v2p3VmoNbP29dHliXSEACOXA4UMymY4uOfzc3senR206/rm3jq8=
